* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    
    color: #024e76;
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

.hero {
    background-image: url(../assets/images/hero-bg.jpg);
    background-size: cover;
    background-position: bottom;
    position: relative;
    height: auto;
    margin-bottom: 40px;
  }

header a {
    text-decoration: none;
    color: #fce138;
   
}

header nav {
    float: right;
    margin: 7px 0 0 
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}
header {
    padding: 20px 35px;
    background-color: #39a6b2;
}


.page-title {
    font-size: 42px;
    font-style: italic;
    font-weight: normal;
    color: #fce138;
    padding: 0 80px 15px 80px;
    display: inline-block;
    border-bottom: 4px solid;
    border-color: #fce138;
    margin-top: 60px;
    margin-right: 0px;
    margin-left: 0px;
}

footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0 auto;

    
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;

}

footer a {
    color: #024e76;
}


h3 {
    font-weight:bold;
    font-size: 26px;
}

